@charset "UTF-8";
.body,
.html {
  background-color: #F6F6F6;
  min-width: 895px !important; }

@media (max-width: 1060px) {
  .main .right {
    display: none; }

  .main {
    width: 96%; }

  .banxin {
    width: 96% !important; }

  .footer .top, .bottom {
    width: 96% !important; }

  .bannerarea .banner {
    width: 100% !important; } }
@media (max-width: 840px) {
  .fixedNav .focus {
    width: 45px !important; } }
@media (max-width: 1336px) {
  .leftBanner {
    width: calc(67.477% - 8px) !important; }

  .bigBanner {
    width: 32.523% !important; } }
.nav {
  width: 100%;
  top: -96px; }
  .nav .logo {
    background: #263238;
    height: 60px;
    width: 100%; }
    .nav .logo .banxin {
      width: 1060px;
      margin: 0 auto;
      padding-right: 20px;
      padding-left: 20px; }
      .nav .logo .banxin .zaekelogo {
        display: block;
        width: 109px;
        height: 27px;
        margin: 14px 0; }
      .nav .logo .banxin .right .avatar {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        margin: 14px 8px 14px 0; }
      .nav .logo .banxin .right .username {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin: 22px 0;
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .nav .logo .banxin .right .loginbtn,
      .nav .logo .banxin .right .registerbtn {
        color: #fff;
        font-size: 14px;
        margin-top: 20px; }
        .nav .logo .banxin .right .loginbtn:hover,
        .nav .logo .banxin .right .registerbtn:hover {
          color: #5ab86e;
          text-decoration: underline; }
      .nav .logo .banxin .right .gline {
        width: 1px;
        height: 14px;
        overflow: hidden;
        line-height: 0;
        margin: 23px 6px;
        vertical-align: top;
        background: #00E676; }
  .nav .category {
    height: 36px;
    width: 100%;
    background-color: #fff; }
    .nav .category .banxin {
      width: 1060px;
      margin: 0 auto;
      padding-right: 20px;
      padding-left: 20px; }
      .nav .category .banxin li {
        font-size: 14px;
        color: #464646;
        letter-spacing: 0;
        line-height: 36px;
        margin-right: 48px; }
        .nav .category .banxin li:nth-last-child(1) {
          margin-right: 0px; }
        .nav .category .banxin li:hover {
          color: #00E676; }
      .nav .category .banxin .search {
        margin-top: 8px;
        height: 20px; }
        .nav .category .banxin .search .ico {
          width: 20px;
          height: 20px;
          background-image: url("../images/搜索黑色.png");
          background-repeat: no-repeat;
          background-position-x: 2px;
          background-position-y: 2px; }
        .nav .category .banxin .search .searchbox {
          border: none;
          height: 14px;
          margin-left: 12px;
          margin-top: 3px;
          font-size: 12px;
          outline: none;
          width: 100px;
          -webkit-transition: all .5s;
          transition: all .5s; }
          .nav .category .banxin .search .searchbox::-webkit-input-placeholder {
            font-size: 12px; }
        .nav .category .banxin .search .searchfont {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #A6A6A6;
          letter-spacing: 0;
          display: none; }
        .nav .category .banxin .search .focus {
          width: 190px;
          border-left: 1px solid #a6a6a6;
          padding-left: 10px; }
  .nav .fixedNav {
    height: 60px;
    background: #263238;
    display: none; }
    .nav .fixedNav .banxin {
      width: 1060px;
      min-width: 820px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px; }
      .nav .fixedNav .banxin .zaekelogo {
        width: 32px;
        height: 30px;
        margin: 14px 31px 0 0; }
      .nav .fixedNav .banxin li {
        font-size: 14px;
        color: #fff;
        letter-spacing: 0;
        line-height: 36px;
        margin-right: 48px;
        margin-top: 12px; }
        .nav .fixedNav .banxin li:nth-last-child(1) {
          margin-right: 0px; }
        .nav .fixedNav .banxin li:hover {
          color: #00E676; }
      .nav .fixedNav .banxin .search {
        margin-top: 20px;
        height: 20px;
        margin-left: 20px;
        min-width: 60px;
        position: relative; }
        .nav .fixedNav .banxin .search .ico {
          height: 20px;
          color: #fff;
          padding-left: 30px;
          font-size: 14px;
          background-image: url("../images/搜索白色.png");
          background-repeat: no-repeat;
          background-position-x: 2px;
          background-position-y: 2px;
          position: absolute;
          top: 0px;
          right: 0px; }
        .nav .fixedNav .banxin .search .searchbox {
          border: none;
          height: 14px;
          width: 30px;
          margin-left: 12px;
          margin-top: 3px;
          color: #c3c3c3;
          outline: none;
          font-size: 14px;
          margin-right: 10px;
          -webkit-transition: all .5s;
          transition: all .5s;
          display: none;
          background-color: #263238; }
          .nav .fixedNav .banxin .search .searchbox::-webkit-input-placeholder {
            font-size: 14px; }
        .nav .fixedNav .banxin .search .focus {
          width: 100px; }
        .nav .fixedNav .banxin .search .searchfont {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #fff;
          letter-spacing: 0;
          display: none; }
      .nav .fixedNav .banxin .right {
        width: 140px; }
        .nav .fixedNav .banxin .right .avatar {
          width: 32px;
          height: 32px;
          border: none;
          border-radius: 50%;
          margin: 12px 8px 14px 0; }
        .nav .fixedNav .banxin .right .username {
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0;
          margin: 20px 0;
          width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .nav .fixedNav .banxin .right .loginbtn,
        .nav .fixedNav .banxin .right .registerbtn {
          color: #fff;
          font-size: 14px;
          margin-top: 20px; }
          .nav .fixedNav .banxin .right .loginbtn:hover,
          .nav .fixedNav .banxin .right .registerbtn:hover {
            color: #5ab86e;
            text-decoration: underline; }
        .nav .fixedNav .banxin .right .gline {
          width: 1px;
          height: 14px;
          overflow: hidden;
          line-height: 0;
          margin: 23px 6px;
          vertical-align: top;
          background: #00E676; }

.bannerarea {
  width: 100%;
  padding: 12px 0px 0px 0px;
  margin-bottom: 32px; }
  .bannerarea .banner {
    max-width: 1318px;
    margin: 0 auto; }
    .bannerarea .banner .da,
    .bannerarea .banner .da1 {
      position: relative;
      overflow: hidden; }
      .bannerarea .banner .da:hover > .texiao,
      .bannerarea .banner .da1:hover > .texiao {
        opacity: .3; }
      .bannerarea .banner .da .bigone,
      .bannerarea .banner .da1 .bigone {
        width: 100%;
        display: block; }
      .bannerarea .banner .da .texiao,
      .bannerarea .banner .da1 .texiao {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.95)));
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 2%, rgba(0, 0, 0, 0.95));
        -webkit-transition: opacity .4s ease-in-out;
        transition: opacity .4s ease-in-out; }
      .bannerarea .banner .da .smallone,
      .bannerarea .banner .da1 .smallone {
        width: 100%;
        vertical-align: bottom; }
    .bannerarea .banner .leftBanner {
      width: 880px;
      margin-right: 8px; }
      .bannerarea .banner .leftBanner .da1 {
        width: 100%; }
    .bannerarea .banner .bigBanner {
      width: 430px;
      height: 100%; }
      .bannerarea .banner .bigBanner .da {
        width: 100%;
        height: calc(50% - 4px); }
        .bannerarea .banner .bigBanner .da:nth-last-child(1) {
          margin-top: 8px; }
  .bannerarea .article {
    max-width: 1316px !important;
    margin: 0 auto;
    margin-top: 32px;
    overflow: hidden;
    position: relative;
    padding-bottom: 32px;
    border-bottom: 2px solid #d0d0d0; }
    .bannerarea .article .arrow {
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      top: 67px; }
    .bannerarea .article .arrow-left {
      left: 16px;
      background-image: url("../images/左-可点.png"); }
      .bannerarea .article .arrow-left:hover {
        background-image: url("../images/左-hover.png"); }
    .bannerarea .article .arrow-right {
      right: 16px;
      background-image: url("../images/右-可点.png"); }
      .bannerarea .article .arrow-right:hover {
        background-image: url("../images/右-hover.png"); }
    .bannerarea .article .noRight {
      right: 16px;
      background-image: url("../images/右-不可点.png"); }
      .bannerarea .article .noRight:hover {
        background-image: url("../images/右-不可点.png"); }
    .bannerarea .article .noLeft {
      left: 16px;
      background-image: url("../images/左-不可点.png"); }
      .bannerarea .article .noLeft:hover {
        background-image: url("../images/左-不可点.png"); }
    .bannerarea .article .outul {
      position: relative; }
      .bannerarea .article .outul .item {
        margin-right: 12px;
        background-color: #fff; }
        .bannerarea .article .outul .item:hover {
          -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08); }
        .bannerarea .article .outul .item:nth-child(4n) {
          margin-right: 0px; }
        .bannerarea .article .outul .item .articleImg {
          width: 100%;
          display: block; }
        .bannerarea .article .outul .item .title {
          font-size: 16px;
          color: #333743;
          line-height: 24px;
          margin: 16px 16px 12px 16px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden; }
          .bannerarea .article .outul .item .title:hover {
            color: #00E676; }
        .bannerarea .article .outul .item .viewers {
          padding: 0 11px 16px 16px; }
          .bannerarea .article .outul .item .viewers .green {
            border: 1px solid #10CC70;
            color: #10CC70;
            line-height: 24px;
            width: 72px;
            height: 24px;
            font-size: 12px;
            color: #10CC70;
            line-height: 22px; }
            .bannerarea .article .outul .item .viewers .green:hover {
              color: #fff;
              border: none;
              background-color: #10CC70; }
          .bannerarea .article .outul .item .viewers .gery {
            border: 1px solid #a6a6a6;
            color: #a6a6a6;
            line-height: 24px;
            width: 72px;
            height: 24px;
            font-size: 12px;
            line-height: 22px; }
          .bannerarea .article .outul .item .viewers .nums {
            font-size: 12px;
            color: #A6A6A6;
            letter-spacing: 0;
            background-image: url("../images/look.png");
            background-repeat: no-repeat;
            padding-left: 20px;
            background-position-y: 2px;
            margin-top: 3px; }

.main {
  margin: 0 auto;
  max-width: 1060px; }
  .main .left {
    width: 700px; }
    .main .left .article {
      width: 100%;
      margin-bottom: 26px;
      background-color: #fff; }
      .main .left .article:hover {
        -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08); }
      .main .left .article .cover {
        display: block;
        width: 100%;
        height: 280px; }
      .main .left .article .author {
        position: relative;
        padding-left: 100px;
        padding-top: 6px; }
        .main .left .article .author .userpic {
          width: 60px;
          height: 60px;
          position: absolute;
          top: -30px;
          left: 30px;
          border: 4px solid #fff;
          border-radius: 50%; }
        .main .left .article .author .name {
          font-size: 14px;
          color: #A6A6A6; }
          .main .left .article .author .name:hover {
            color: #00E676; }
      .main .left .article .title {
        font-size: 20px;
        color: #333;
        letter-spacing: 0.4px;
        line-height: 36px;
        padding: 12px 30px 0px; }
        .main .left .article .title:hover {
          color: #00E676; }
      .main .left .article .describe {
        font-size: 16px;
        color: #767676;
        letter-spacing: 0.23px;
        line-height: 28px;
        padding: 4px 30px 16px 30px; }
      .main .left .article .viewers {
        padding: 0 30px 16px; }
        .main .left .article .viewers .font {
          font-size: 12px;
          color: #A6A6A6;
          letter-spacing: 0; }
        .main .left .article .viewers .time {
          padding-left: 24px;
          background-image: url("../images/time.png");
          background-repeat: no-repeat; }
        .main .left .article .viewers .views {
          padding-left: 20px;
          background-image: url("../images/look.png");
          background-repeat: no-repeat;
          background-position-y: 2.5px;
          margin-right: 16px; }
        .main .left .article .viewers .comment {
          padding-left: 20px;
          background-image: url("../images/pinglun2.png");
          background-repeat: no-repeat;
          background-position-y: 2.5px; }
    .main .left .quicknew {
      padding: 16px 30px; }
      .main .left .quicknew .greentitle {
        font-size: 12px;
        color: #10CC70;
        letter-spacing: 0.24px;
        line-height: 18px; }
      .main .left .quicknew .q_title {
        font-size: 20px;
        color: #464646;
        letter-spacing: 0.4px;
        line-height: 36px; }
        .main .left .quicknew .q_title:hover {
          color: #00E676; }
      .main .left .quicknew .time {
        font-size: 12px;
        color: #A6A6A6;
        letter-spacing: 0;
        padding-left: 24px;
        background-image: url("../images/time.png");
        background-repeat: no-repeat;
        margin-top: 10px; }
    .main .left .advers {
      position: relative; }
      .main .left .advers .adpic {
        display: block;
        width: 100%;
        height: 180px; }
    .main .left .loadmore {
      height: 60px;
      color: #A6A6A6;
      line-height: 60px;
      background-color: #fff;
      margin-bottom: 48px; }
      .main .left .loadmore:hover {
        color: #00E676; }
  .main .right {
    width: 320px; }
    .main .right .latesactivities,
    .main .right .quicknews,
    .main .right .thematic {
      margin-bottom: 24px; }
      .main .right .latesactivities .topic,
      .main .right .quicknews .topic,
      .main .right .thematic .topic {
        border-bottom: 1px solid #E9E9EA;
        padding-bottom: 9px; }
        .main .right .latesactivities .topic .name,
        .main .right .quicknews .topic .name,
        .main .right .thematic .topic .name {
          font-size: 14px;
          color: #464646;
          padding-bottom: 8px;
          border-bottom: 2px solid #464646; }
      .main .right .latesactivities .activitiesitem,
      .main .right .quicknews .activitiesitem,
      .main .right .thematic .activitiesitem {
        padding: 16px 0 10px 0;
        border-bottom: 1px solid #e9e9ea; }
        .main .right .latesactivities .activitiesitem .running,
        .main .right .quicknews .activitiesitem .running,
        .main .right .thematic .activitiesitem .running {
          font-size: 14px;
          color: #10CC70;
          line-height: 24px; }
        .main .right .latesactivities .activitiesitem .finish,
        .main .right .quicknews .activitiesitem .finish,
        .main .right .thematic .activitiesitem .finish {
          font-size: 14px;
          color: #FF0000;
          margin-top: 2px; }
        .main .right .latesactivities .activitiesitem .preheating,
        .main .right .quicknews .activitiesitem .preheating,
        .main .right .thematic .activitiesitem .preheating {
          font-size: 14px;
          color: #ff8c00;
          margin-top: 2px; }
        .main .right .latesactivities .activitiesitem .name,
        .main .right .quicknews .activitiesitem .name,
        .main .right .thematic .activitiesitem .name {
          font-size: 14px;
          color: #464646;
          letter-spacing: 0;
          line-height: 24px;
          margin-left: 20px;
          width: 258px;
          cursor: pointer; }
          .main .right .latesactivities .activitiesitem .name:hover,
          .main .right .quicknews .activitiesitem .name:hover,
          .main .right .thematic .activitiesitem .name:hover {
            color: #00E676; }
        .main .right .latesactivities .activitiesitem .time,
        .main .right .quicknews .activitiesitem .time,
        .main .right .thematic .activitiesitem .time {
          font-size: 12px;
          color: #A6A6A6;
          margin-top: 10px; }
      .main .right .latesactivities .newsitem,
      .main .right .quicknews .newsitem,
      .main .right .thematic .newsitem {
        padding: 12px 0;
        border-bottom: 1px solid #E9E9EA;
        cursor: pointer; }
        .main .right .latesactivities .newsitem:hover > a .da .texiao,
        .main .right .quicknews .newsitem:hover > a .da .texiao,
        .main .right .thematic .newsitem:hover > a .da .texiao {
          opacity: .3; }
        .main .right .latesactivities .newsitem .da,
        .main .right .quicknews .newsitem .da,
        .main .right .thematic .newsitem .da {
          position: relative; }
          .main .right .latesactivities .newsitem .da .fengmian,
          .main .right .quicknews .newsitem .da .fengmian,
          .main .right .thematic .newsitem .da .fengmian {
            width: 146px;
            height: 80px;
            display: block; }
          .main .right .latesactivities .newsitem .da .texiao,
          .main .right .quicknews .newsitem .da .texiao,
          .main .right .thematic .newsitem .da .texiao {
            width: 146px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.01)), to(rgba(0, 0, 0, 0.95)));
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 2%, rgba(0, 0, 0, 0.95));
            -webkit-transition: opacity .4s ease-in-out;
            transition: opacity .4s ease-in-out; }
        .main .right .latesactivities .newsitem .rightside,
        .main .right .quicknews .newsitem .rightside,
        .main .right .thematic .newsitem .rightside {
          width: 164px;
          height: 80px;
          margin-left: 10px; }
          .main .right .latesactivities .newsitem .rightside .n_news,
          .main .right .quicknews .newsitem .rightside .n_news,
          .main .right .thematic .newsitem .rightside .n_news {
            font-size: 14px;
            color: #464646;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 10px; }
            .main .right .latesactivities .newsitem .rightside .n_news:hover,
            .main .right .quicknews .newsitem .rightside .n_news:hover,
            .main .right .thematic .newsitem .rightside .n_news:hover {
              color: #00E676; }
          .main .right .latesactivities .newsitem .rightside .time,
          .main .right .quicknews .newsitem .rightside .time,
          .main .right .thematic .newsitem .rightside .time {
            font-size: 12px;
            color: #A6A6A6; }
    .main .right .thematic .zhuanti {
      height: 100px;
      overflow: hidden;
      position: relative; }
      .main .right .thematic .zhuanti:hover > .name {
        color: #fff; }
      .main .right .thematic .zhuanti .name {
        font-size: 16px;
        color: #fff;
        letter-spacing: 0.32px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 30px;
        top: 50%;
        margin-top: -10px;
        z-index: 10; }
      .main .right .thematic .zhuanti .bjpic {
        display: block;
        width: 100%; }
      .main .right .thematic .zhuanti .mask {
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3); }

.footer {
  background-color: #263238;
  padding: 32px 0px 0 0px;
  width: 100%; }
  .footer .top {
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 32px; }
    .footer .top .left .rowul {
      margin-right: 48px; }
      .footer .top .left .rowul:nth-last-child(1) {
        margin-right: 0px; }
      .footer .top .left .rowul .head {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 16px; }
      .footer .top .left .rowul .operation {
        margin-bottom: 12px; }
        .footer .top .left .rowul .operation:nth-last-child(1) {
          margin-bottom: 0px; }
        .footer .top .left .rowul .operation a {
          font-size: 14px;
          letter-spacing: 0;
          color: #666666;
          text-decoration: none; }
          .footer .top .left .rowul .operation a:hover {
            color: #00E676; }
    .footer .top .right {
      position: relative; }
      .footer .top .right .spread {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
        .footer .top .right .spread:nth-child(3) {
          background-image: url("../images/weixin_b.png"); }
          .footer .top .right .spread:nth-child(3):hover {
            background-image: url("../images/weixin_w.png"); }
        .footer .top .right .spread:nth-child(2) {
          background-image: url("../images/weibo_b.png");
          margin: 0 12px; }
          .footer .top .right .spread:nth-child(2):hover {
            background-image: url("../images/weibo_w.png"); }
        .footer .top .right .spread:nth-child(1) {
          background-image: url("../images/rss_b.png"); }
          .footer .top .right .spread:nth-child(1):hover {
            background-image: url("../images/rss_w.png"); }
      .footer .top .right .weixin:hover + .erweima {
        display: block; }
      .footer .top .right .erweima {
        display: none;
        position: absolute;
        padding: 20px 20px 20px 20px;
        background-color: #fff;
        top: -260px;
        left: -12px; }
        .footer .top .right .erweima .code {
          width: 160px;
          height: 160px; }
        .footer .top .right .erweima p {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #464646; }
        .footer .top .right .erweima .sjx {
          position: absolute;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top-color: #fff;
          bottom: -20px;
          left: calc(50% - 5px); }
      .footer .top .right .conection {
        margin: 16px 0 38px 0; }
        .footer .top .right .conection .mailaddress {
          font-size: 14px;
          color: #00E676;
          letter-spacing: 0;
          text-decoration: none; }
        .footer .top .right .conection .mailicon {
          width: 20px;
          height: 20px;
          background-image: url("../images/mail.jpg");
          background-repeat: no-repeat;
          background-position-y: 3px;
          margin-right: 10px; }
      .footer .top .right .slogan {
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        line-height: 18px;
        text-align: right; }
        .footer .top .right .slogan:nth-child(1) {
          margin-bottom: 2px; }
  .footer .bottom {
    width: 1060px;
    margin: 0 auto;
    height: 68px;
    line-height: 68px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    border-top: 2px solid #666666; }

.loginbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 50, 56, 0.8);
  top: 0px;
  left: 0px;
  z-index: 999;
  display: none; }
  .loginbox .login,
  .loginbox .regist,
  .loginbox .findpassword,
  .loginbox .relativeZaeke {
    width: 504px;
    height: 644px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -322px;
    margin-left: -252px;
    background-color: #fff;
    padding: 0 32px;
    display: none; }
    .loginbox .login .close,
    .loginbox .regist .close,
    .loginbox .findpassword .close,
    .loginbox .relativeZaeke .close {
      width: 20px;
      height: 20px;
      background-image: url("../images/相关icon/关闭.png");
      background-size: cover;
      position: absolute;
      top: 24px;
      right: 32px; }
    .loginbox .login .l_logon,
    .loginbox .regist .l_logon,
    .loginbox .findpassword .l_logon,
    .loginbox .relativeZaeke .l_logon {
      display: block;
      margin: 48px auto; }
    .loginbox .login .l_btn,
    .loginbox .regist .l_btn,
    .loginbox .findpassword .l_btn,
    .loginbox .relativeZaeke .l_btn {
      font-family: PingFangSC-Medium;
      font-size: 20px;
      color: #464646;
      letter-spacing: 0.4px;
      line-height: 36px; }
    .loginbox .login .tips,
    .loginbox .regist .tips,
    .loginbox .findpassword .tips,
    .loginbox .relativeZaeke .tips {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #A6A6A6;
      letter-spacing: 0.23px;
      margin-top: 7px; }
      .loginbox .login .tips .g_regist,
      .loginbox .regist .tips .g_regist,
      .loginbox .findpassword .tips .g_regist,
      .loginbox .relativeZaeke .tips .g_regist {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #10CC70;
        letter-spacing: 0.2px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        border-bottom: 1px solid #10CC70; }
    .loginbox .login .fontSize,
    .loginbox .regist .fontSize,
    .loginbox .findpassword .fontSize,
    .loginbox .relativeZaeke .fontSize {
      font-size: 16px; }
    .loginbox .login .count,
    .loginbox .login .password,
    .loginbox .login .phone,
    .loginbox .login .verify,
    .loginbox .login .newPass,
    .loginbox .login .rePass,
    .loginbox .regist .count,
    .loginbox .regist .password,
    .loginbox .regist .phone,
    .loginbox .regist .verify,
    .loginbox .regist .newPass,
    .loginbox .regist .rePass,
    .loginbox .findpassword .count,
    .loginbox .findpassword .password,
    .loginbox .findpassword .phone,
    .loginbox .findpassword .verify,
    .loginbox .findpassword .newPass,
    .loginbox .findpassword .rePass,
    .loginbox .relativeZaeke .count,
    .loginbox .relativeZaeke .password,
    .loginbox .relativeZaeke .phone,
    .loginbox .relativeZaeke .verify,
    .loginbox .relativeZaeke .newPass,
    .loginbox .relativeZaeke .rePass {
      width: 100%;
      height: 54px;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #464646;
      letter-spacing: 0.23px;
      padding-left: 16px;
      outline: none;
      background-color: #f6f6f6;
      border: none;
      margin-bottom: 24px; }
    .loginbox .login .verify,
    .loginbox .regist .verify,
    .loginbox .findpassword .verify,
    .loginbox .relativeZaeke .verify {
      width: 280px;
      margin-bottom: 0px; }
    .loginbox .login .getcode,
    .loginbox .regist .getcode,
    .loginbox .findpassword .getcode,
    .loginbox .relativeZaeke .getcode {
      width: 136px;
      height: 54px;
      border: 1px solid #10CC70;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #10CC70;
      letter-spacing: 0.23px;
      background-color: #fff;
      outline: none; }
    .loginbox .login .count,
    .loginbox .regist .count,
    .loginbox .findpassword .count,
    .loginbox .relativeZaeke .count {
      margin-top: 16px; }
    .loginbox .login .password,
    .loginbox .regist .password,
    .loginbox .findpassword .password,
    .loginbox .relativeZaeke .password {
      margin-bottom: 0px; }
    .loginbox .login .wrongTip,
    .loginbox .regist .wrongTip,
    .loginbox .findpassword .wrongTip,
    .loginbox .relativeZaeke .wrongTip {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FF2B2B;
      letter-spacing: 0.2px;
      margin: 16px 0;
      visibility: visible; }
    .loginbox .login .loginButton,
    .loginbox .regist .loginButton,
    .loginbox .findpassword .loginButton,
    .loginbox .relativeZaeke .loginButton {
      width: 100%;
      background: #263238;
      height: 54px;
      border: none;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.26px; }
      .loginbox .login .loginButton:hover,
      .loginbox .regist .loginButton:hover,
      .loginbox .findpassword .loginButton:hover,
      .loginbox .relativeZaeke .loginButton:hover {
        background: #10CC70; }
    .loginbox .login .agree,
    .loginbox .regist .agree,
    .loginbox .findpassword .agree,
    .loginbox .relativeZaeke .agree {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #464646;
      letter-spacing: 0.23px;
      margin-top: 24px; }
      .loginbox .login .agree .xieyi,
      .loginbox .regist .agree .xieyi,
      .loginbox .findpassword .agree .xieyi,
      .loginbox .relativeZaeke .agree .xieyi {
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.23px;
        line-height: 22px; }
        .loginbox .login .agree .xieyi:hover > span,
        .loginbox .regist .agree .xieyi:hover > span,
        .loginbox .findpassword .agree .xieyi:hover > span,
        .loginbox .relativeZaeke .agree .xieyi:hover > span {
          color: #00E676;
          border-bottom-color: #00E676; }
        .loginbox .login .agree .xieyi:hover,
        .loginbox .regist .agree .xieyi:hover,
        .loginbox .findpassword .agree .xieyi:hover,
        .loginbox .relativeZaeke .agree .xieyi:hover {
          color: #00E676; }
        .loginbox .login .agree .xieyi span,
        .loginbox .regist .agree .xieyi span,
        .loginbox .findpassword .agree .xieyi span,
        .loginbox .relativeZaeke .agree .xieyi span {
          border-bottom: 1px solid #000000; }
    .loginbox .login .forget,
    .loginbox .regist .forget,
    .loginbox .findpassword .forget,
    .loginbox .relativeZaeke .forget {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #464646;
      letter-spacing: 0.23px;
      margin: 16px 0 32px 0;
      border-bottom: 1px solid #464646; }
      .loginbox .login .forget:hover,
      .loginbox .regist .forget:hover,
      .loginbox .findpassword .forget:hover,
      .loginbox .relativeZaeke .forget:hover {
        color: #00E676;
        border-bottom-color: #00E676; }
    .loginbox .login .thirdLogin .wordtip .line,
    .loginbox .regist .thirdLogin .wordtip .line,
    .loginbox .findpassword .thirdLogin .wordtip .line,
    .loginbox .relativeZaeke .thirdLogin .wordtip .line {
      width: 160px;
      height: 2px;
      background-color: #d4d4d4;
      margin-top: 10px; }
    .loginbox .login .thirdLogin .wordtip .wenan,
    .loginbox .regist .thirdLogin .wordtip .wenan,
    .loginbox .findpassword .thirdLogin .wordtip .wenan,
    .loginbox .relativeZaeke .thirdLogin .wordtip .wenan {
      margin: 0 24px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #A6A6A6;
      letter-spacing: 0.2px;
      margin-bottom: 32px; }
    .loginbox .login .thirdLogin .thirdico,
    .loginbox .regist .thirdLogin .thirdico,
    .loginbox .findpassword .thirdLogin .thirdico,
    .loginbox .relativeZaeke .thirdLogin .thirdico {
      width: 264px;
      margin: 0 auto; }
      .loginbox .login .thirdLogin .thirdico span,
      .loginbox .regist .thirdLogin .thirdico span,
      .loginbox .findpassword .thirdLogin .thirdico span,
      .loginbox .relativeZaeke .thirdLogin .thirdico span {
        width: 48px;
        height: 48px; }
      .loginbox .login .thirdLogin .thirdico .qq,
      .loginbox .regist .thirdLogin .thirdico .qq,
      .loginbox .findpassword .thirdLogin .thirdico .qq,
      .loginbox .relativeZaeke .thirdLogin .thirdico .qq {
        background-image: url("../images/相关icon/第三方-QQ-未选中.png"); }
        .loginbox .login .thirdLogin .thirdico .qq:hover,
        .loginbox .regist .thirdLogin .thirdico .qq:hover,
        .loginbox .findpassword .thirdLogin .thirdico .qq:hover,
        .loginbox .relativeZaeke .thirdLogin .thirdico .qq:hover {
          background-image: url("../images/相关icon/第三方-QQ-选中.png"); }
      .loginbox .login .thirdLogin .thirdico .weibo,
      .loginbox .regist .thirdLogin .thirdico .weibo,
      .loginbox .findpassword .thirdLogin .thirdico .weibo,
      .loginbox .relativeZaeke .thirdLogin .thirdico .weibo {
        background-image: url("../images/相关icon/第三方-微博-未选中.png");
        margin: 0 60px; }
        .loginbox .login .thirdLogin .thirdico .weibo:hover,
        .loginbox .regist .thirdLogin .thirdico .weibo:hover,
        .loginbox .findpassword .thirdLogin .thirdico .weibo:hover,
        .loginbox .relativeZaeke .thirdLogin .thirdico .weibo:hover {
          background-image: url("../images/相关icon/第三方-微博-选中.png"); }
      .loginbox .login .thirdLogin .thirdico .weixin,
      .loginbox .regist .thirdLogin .thirdico .weixin,
      .loginbox .findpassword .thirdLogin .thirdico .weixin,
      .loginbox .relativeZaeke .thirdLogin .thirdico .weixin {
        background-image: url("../images/相关icon/第三方分享-微信-未选中.png"); }
        .loginbox .login .thirdLogin .thirdico .weixin:hover,
        .loginbox .regist .thirdLogin .thirdico .weixin:hover,
        .loginbox .findpassword .thirdLogin .thirdico .weixin:hover,
        .loginbox .relativeZaeke .thirdLogin .thirdico .weixin:hover {
          background-image: url("../images/相关icon/第三方-微信-选中.png"); }
  .loginbox .regist,
  .loginbox .relativeZaeke {
    height: 676px;
    margin-top: -338px; }
    .loginbox .regist .password,
    .loginbox .relativeZaeke .password {
      margin-bottom: 24px; }
    .loginbox .regist .forget,
    .loginbox .relativeZaeke .forget {
      display: none; }
  .loginbox .relativeZaeke .old .password {
    margin-bottom: 0px; }
  .loginbox .bindphone {
    width: 504px;
    height: 272px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -252px;
    margin-top: -136px;
    background-color: #fff;
    display: none; }
    .loginbox .bindphone .close {
      width: 20px;
      height: 20px;
      background-image: url("../images/相关icon/关闭.png");
      position: absolute;
      top: 24px;
      right: 32px; }
    .loginbox .bindphone .wenan {
      font-family: PingFangSC-Medium;
      font-size: 20px;
      color: #464646;
      letter-spacing: 0.4px;
      line-height: 36px;
      width: 380px;
      margin: 68px auto 32px auto; }
    .loginbox .bindphone .bd {
      width: 440px;
      height: 53px;
      border: none;
      background-color: #263238;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.26px;
      margin: 0 32px; }
  .loginbox .findpassword {
    width: 504px;
    height: 466px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -233px;
    margin-left: -252px;
    display: none;
    background-color: #fff; }
    .loginbox .findpassword li:nth-child(3), .loginbox .findpassword li:nth-child(4) {
      display: none; }

.logsuccess {
  width: 240px;
  height: 60px;
  line-height: 60px;
  opacity: 1;
  background-color: rgba(38, 50, 56, 0.8);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #10CC70;
  letter-spacing: 0.32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -30px;
  display: none; }

/*# sourceMappingURL=index.css.map */