        /* 公共样式 */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #f6f6f6;
        }

        .banxin {
            width: 1060px;
            margin: 0 auto;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .clearfix::after {
            content: "";
            line-height: 0;
            height: 0;
            display: block;
            visibility: hidden;
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }

        h1,
        h2 {
            margin: 48px 0px 32px 0px;
        }

        li {
            list-style: none;
        }

        .tc {
            text-align: center;
        }

        .pointer {
            cursor: pointer;
        }

        .w800 {
            width: 800px;
            margin: 0 auto;
        }

        .w960 {
            width: 960px;
            margin: 48px 50px;
        }
        /* 头部部分 */

        .header {
            height: 60px;
            line-height: 60px;
            background-color: #263238;
        }

        .header .logo {
            width: 33.5px;
            height: 36px;
            background-color: #fff;
            margin: 12px 48px 12px 0px;
        }

        .header ul li {
            margin-right: 48px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
        }

        .header ul li:nth-last-child(2) {
            margin-right: 20px!important;
        }
        /* 内容主题部分 */

        .main {
            background-color: #fff;
            margin-top: 16px;
        }

        .main .banner {
            width: 100%;
            display: block;
            height: 424px;
            background-color: grey;
        }

        .detail h1 {
            /* margin: 48px 0px 32px 0px; */
            font-family: PingFangSC-Medium;
            font-size: 32px;
            color: #363636;
            letter-spacing: 0;
        }

        .detail .author {
            padding: 0px 240px 32px 240px;
            border-bottom: 1px solid #D0D0D0;
            margin-bottom: 32px;
        }

        .detail .avatar {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            background-image: url("../images/Rectangle 4.png");
        }

        .detail .pub_time {
            margin-right: 24px;
            padding-left: 24px;
            background-image: url("../images/time.png");
            background-repeat: no-repeat;
            background-position-y: 3px;
        }

        .detail .viewer {
            padding-left: 24px;
            background-image: url("../images/look.png");
            background-repeat: no-repeat;
            background-position-y: 5px;
        }
        /* 文章文字内容详情 */

        .content p {
            margin-bottom: 48px;
        }

        .p_style {
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #464646;
            letter-spacing: 0.8px;
            line-height: 36px;
        }

        .detail .banner2 img {
            width: 50%;
            height: 310px;
        }

        .detail .pingjia {
            padding: 40px 80px 40px 170px;
            background: #F9F9F9;
            border-radius: 5px;
            margin: 32px 0px;
            position: relative;
        }

        .detail .green {
            width: 50px;
            height: 40px;
            position: absolute;
            top: 40px;
            left: 80px;
            background-image: url("../images/green.png");
            background-size: cover;
        }

        .detail .banner1 img {
            width: 100%;
            height: 460px;
            display: block;
        }

        .detail .banner3 img {
            width: 33.3%;
            height: 208px;
            background-color: salmon;
        }

        .detail .banner4 img {
            width: 50%;
            height: 310px;
        }

        .detail .tabs {
            margin-top: 32px;
        }

        .detail .tabs span {
            padding: 4px 12px;
            margin-right: 8px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            border: 1px solid #A6A6A6;
            background-color: #fff;
            color: #a6a6a6;
            line-height: 16px;
        }

        .green_check {
            background: #10CC70!important;
            color: #FFFFFF!important;
            border: none!important;
        }

        .detail .shenming {
            padding: 48px 0px;
            width: 960px;
            margin: 0 auto;
            border-bottom: 1px solid #D0D0D0;
        }

        .detail .shenming i {
            font-family: STSongti-SC-Regular;
            font-size: 16px;
            color: #A6A6A6;
            letter-spacing: 0;
            line-height: 36px;
            text-decoration: underline;
        }

        .detail .share {
            padding: 48px 130px;
        }

        .detail .share .qq {
            width: 40px;
            height: 40px;
            background-image: url('../images/qq2.png');
        }

        .detail .share .weibo {
            width: 40px;
            height: 40px;
            margin: 0px 24px;
            background-image: url('../images/weibo2.png');
        }

        .detail .share .weixin {
            width: 40px;
            height: 40px;
            background-image: url('../images/wechat2.png');
        }

        .detail .share .collect {
            width: 120px;
            height: 40px;
            border: 1px solid #263238;
            color: #263238;
            line-height: 38px;
        }

        .detail .share .cool {
            width: 120px;
            height: 40px;
            border: 1px solid #FF2B2B;
            color: #FF2B2B;
            line-height: 38px;
            margin-right: 32px;
        }
        /* 想要or无聊 */

        .atitude {
            padding: 48px 117px;
            color: #fff;
            background-color: #fff;
            margin: 16px auto;
        }

        .atitude .want {
            width: 120px;
            height: 40px;
            line-height: 40px;
            background: #10CC70;
        }

        .atitude .boring {
            width: 120px;
            height: 40px;
            line-height: 40px;
            background: #263238;
        }

        .atitude .proportion {
            width: 520px;
            height: 40px;
            margin: 0px 32px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #F6F6F6;
            line-height: 40px;
        }

        .atitude .proportion .left {
            width: 250px;
            background-color: #10CC70;
            padding-left: 16px;
        }

        .atitude .proportion .right {
            width: 270px;
            background-color: #263238;
            padding-right: 16px;
        }
        /* 问答环节 */

        .question {
            background-color: #fff;
            padding: 48px 50px;
        }

        .question h3 {
            font-family: PingFangSC-Medium;
            font-size: 20px;
            color: #666666;
        }

        .question li {
            border-bottom: 1px solid #D4D4D4;
            padding: 32px 0px;
        }

        .question .quess {
            font-family: PingFangSC-Medium;
            font-size: 24px;
            color: #464646;
            letter-spacing: 0;
            margin-bottom: 24px;
        }

        .question .answer {
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #464646;
            letter-spacing: 0.8px;
            line-height: 36px;
        }
        /* 评论部分 */

        .comment {
            padding: 48px 130px;
            background-color: #fff;
            margin: 16px auto;
        }

        .comment .pjnum {
            font-family: PingFangSC-Medium;
            font-size: 20px;
            color: #666666;
        }

        .s_comment {
            margin-top: 32px;
        }

        .s_comment .avatar {
            width: 40px;
            height: 40px;
            background-image: url("../images/Rectangle 4.png");
            background-size: cover;
            margin-right: 20px;
        }

        .s_comment .content {
            width: 740px;
            height: 104px;
            resize: none;
            border: 1px solid #263238;
        }

        .s_comment .send {
            width: 109px;
            height: 40px;
            line-height: 40px;
            background: #263238;
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            border: none;
            margin: 24px 0px 32px 0px;
        }
        /* 评论列表 */

        .list li {
            margin-bottom: 32px;
            border-bottom: 1px solid #D0D0D0;
            padding-bottom: 16px;
        }

        .list .top .avatar {
            width: 40px;
            height: 40px;
            background-image: url("../images/userpic.png");
            background-size: cover;
            margin-right: 20px;
        }

        .list .top .name {
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #464646;
        }

        .list .top .time {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #A6A6A6;
        }

        .list .top .reply {
            width: 18px;
            height: 16px;
            background-image: url("../images/pinglun.png");
            background-size: cover;
            margin-right: 8px;
        }

        .list .bottom {
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #464646;
            letter-spacing: 0.8px;
            line-height: 36px;
            padding: 16px 0px 0px 0px;
        }

        .list .other {
            border-left: 4px solid #D8D8D8;
            /* margin-left: 60px; */
            padding-left: 12px;
            margin: 32px 0px 16px 60px;
        }

        .list .other .top .avatar1 {
            background-image: url("../images/userpic copy.png");
        }

        .list .huifu {
            padding: 32px 0px 16px 0px;
        }

        .list .replybox {
            width: 100%;
            height: 57px;
            border: 1px solid #263238;
            padding-left: 20px;
            font-family: PingFangSC-Regular;
            font-size: 18px;
        }

        .list .huifu .confirm {
            width: 109px;
            height: 40px;
            line-height: 40px;
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            background-color: #263238;
            border: none;
            margin-top: 24px;
        }

        .list .huifu .cancle {
            width: 109px;
            height: 40px;
            line-height: 40px;
            background-color: #ffffff;
            border: none;
            margin-top: 24px;
        }