<!--{template common/header}-->

<div id="slide" class="bgw mtm mbm slide1">
    <!--{block/3}-->
</div>

<div id="indexpage" class="cl mtm mbm">
    <div class="z indexmb">
        <!--{block/4}-->
    </div>
    <div class="y indexsb">
        <div class="sidebar">
            <div class="widget">
                <h3 class="widget-title">热门活动</h3>
                <div class="widget-content">
                    <!--{block/5}-->
                </div>
            </div>

            <div id="indexpc" class="widget">
                <h3 class="widget-title">图文评测</h3>
                <div class="widget-content">
                    <!--{block/6}-->
                </div>
            </div>

            <div id="indextj" class="widget">
                <h3 class="widget-title">推荐文章</h3>
                <div class="widget-content">
                    <!--{block/7}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{template common/footer}-->
