<IfModule mod_rewrite.c>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]


# RewriteRule ^(.*).php?(.*)$ ehais.php?m=Index&a=$1&$2 [QSA,PT,L]
RewriteRule index.php$ ehais.php?m=Index&a=index [QSA,PT,L]
RewriteRule article_detail_(.*).php$ ehais.php?m=Index&a=article_detail&id=$1 [QSA,PT,L]
RewriteRule column_(.*).php$ ehais.php?m=Index&a=column&id=$1 [QSA,PT,L]
RewriteRule fame_home_page.php$ ehais.php?m=Index&a=fame_home_page&$1 [QSA,PT,L]
RewriteRule hall_of_fame.php$ ehais.php?m=Index&a=&hall_of_fame [QSA,PT,L]
RewriteRule live_broadcast_detail.php$ ehais.php?m=Index&a=live_broadcast_detail&$1 [QSA,PT,L]
RewriteRule live_broadcast_list.php$ ehais.php?m=Index&a=live_broadcast_list&$1 [QSA,PT,L]
RewriteRule pc_home.php$ ehais.php?m=Index&a=pc_home&$1 [QSA,PT,L]
RewriteRule pc_message.php$ ehais.php?m=Index&a=pc_message&$1 [QSA,PT,L]
RewriteRule pc_my_hall.php$ ehais.php?m=Index&a=pc_my_hall&$1 [QSA,PT,L]
RewriteRule pc_personal_info.php$ ehais.php?m=Index&a=pc_personal_info&$1 [QSA,PT,L]
RewriteRule pc_public.php$ ehais.php?m=Index&a=pc_public&$1 [QSA,PT,L]
RewriteRule preview.php$ ehais.php?m=Index&a=preview&$1 [QSA,PT,L]
RewriteRule search_result.php$ ehais.php?m=Index&a=search_result&$1 [QSA,PT,L]
RewriteRule special_detail.php$ ehais.php?m=Index&a=special_detail&$1 [QSA,PT,L]
RewriteRule special_theme_page.php$ ehais.php?m=Index&a=special_theme_page&$1 [QSA,PT,L]
RewriteRule video_detail.php$ ehais.php?m=Index&a=video_detail&$1 [QSA,PT,L]


</IfModule>