<!--{template common/header}-->

<style id="diy_style" type="text/css"></style>
<div class="cl">
<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
</div>
<div class="wp mbw">
    <div class="mtw frame cl frame-2-1">
        <div class="column frame-2-1-l">
            <div class="sidebar-module">
                <table cellspacing="0" cellpadding="0">
                    <!--{subtemplate forum/forums_list}-->
                </table>
            </div>
        </div>
        <div class="column frame-2-1-r">
            <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
        </div>
    </div>
</div>

<!--{template common/footer}-->