<!--名人堂顶部区域内容，需要根据不同的要求进行数据填充-->
<section id="legend" class="legend">
    <div class="legendBanner"></div>
    <section class="legendInfo">
        <div class="legendInfoContent">
            <div class="legendImg"><img src=""></div>
            <p class="legendName"></p>
            <p class="legendDescription"></p>
            <div class="legendLinks">
                <a href="" target="_blank" class="toutiao"><img src="http://img.zaeke.com/portal/201611/17/112456diizoh0xiaptexrw.png" alt="今日头条"></a>
                <a href="" target="_blank" class="weibo"><img src="http://img.zaeke.com/portal/201611/17/112456h11ygokie8yk2lnh.png" alt="新浪微博"></a>
            </div>
        </div>
    </section>
</section>
<style>html { font-size: 14px; } #wp, #nv_portal #wp, #nv { margin-top: 0; } #hdbn { display: none; } #wp { width: 100%; } </style>